body {
    font-family: sans-serif;
    margin: 0;
}

#container {
    margin: 0 auto;
    width: 90%;
}

input {
    font-size: 12px;
    padding: 7px 12px;
    margin-right: 11px;
    margin-bottom: 12px;
}

header {
    background-color: grey;
    font-size: 20px;
    font-weight: normal;
    padding: 7px;
}

h1 {
    color: white;
    text-align: center;
}
h3 {
    font-weight: normal;
}

table, td, th {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 7px;
}

th {
    background-color: lightgrey;
    font-weight: normal;
    text-align: left;
}

td {
    font-size: 16px;
}

input {
    border: 1px solid black;
}

#submitBtn {
    float: right;
    font-size: 14px;
}

#monthly {
    text-align: right;
}